/* Base style for dropdown items */
.dropdown-item {
  position: relative;
  padding-left: 10px; 
  overflow: hidden;
  background-color: white; 
}


.dropdown-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%; 
  height: 0; 
  width: 4px; 
  background: #202C45; 
  transition: height 0.3s ease-in-out, top 0.3s ease-in-out;
  transform: translateY(-50%);
}

/* Expand the border when hovering over dropdown items */
.dropdown-item:hover::before {
  height: 100%; 
  top: 0; 
  transform: translateY(0);
}

.mobile-menu {
  z-index: 9999; 
  position: fixed; 
}

