@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-slide {
  position: relative;
  overflow: hidden;
}

.custom-slide img {
  transition: transform 1s ease;
}

.swiper-slide-active .custom-slide img {
  transform: scale(1.1); /* Example scale effect */
}

.custom-content {
  position: absolute;
  bottom: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  transition: opacity 1s ease;
}

.swiper-slide-active .custom-content {
  opacity: 1;
}

.swiper-slide-next .custom-content,
.swiper-slide-prev .custom-content {
  opacity: 0;
}
/* Add this to your App.css or a relevant CSS file */
.swiper-container {
  width: 100%;
}

.swiper-slide img {
  width: 100%; /* Ensures the image takes the full width of the slide */
  object-fit: cover; /* Ensures the image covers the slide area */
}
